*.jl.cov
*.jl.*.cov
*.jl.mem

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.toc
*.sqlite-journal
*test.sqlite
*test_out.sqlite

docs/build/
docs/site/
/process-palette.json

model\.so_model

*.pdf

*.png

*.so_model

*.csv

SpineOptApp