# GitHub Action

name: CI

# Run workflow on every push and pull request to master branch
on:
  push:
  pull_request:
    branches:
      - master

jobs:
  check_duplicate_actions:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5
        with:
          concurrent_skipping: 'same_content_newer'
  test:
    needs: check_duplicate_actions
    if: needs.check_duplicate_actions.outputs.should_skip != 'true'
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - "1.10.10"  #  Long-term support (LTS) release
          - "1.11" # Latest Release of Julia v1.x
        os:
          - ubuntu-latest
          # - macOS-latest
          - windows-latest
        arch:
          - x64
          # - x86  # FIXME: We don't support x86 because we type-annotate with Int64 and Float64 sparingly
        python-version: ["3.11"]
        exclude:
          # Test 32-bit only on Linux
          - os: macOS-latest
            arch: x86
          - os: windows-latest
            arch: x86
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - run: |
          git config --global user.name Tester
          git config --global user.email te@st.er
      - name: Install spinedb_api
        run:
          julia ./.install_spinedb_api.jl
        env:
          PYTHON: python
      - uses: julia-actions/julia-runtest@latest
      - uses: julia-actions/julia-processcoverage@v1
        if: matrix.version == '1' && matrix.os == 'ubuntu-latest'
      - uses: codecov/codecov-action@v4
        with:
          file: lcov.info
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  Documenter:
    needs: check_duplicate_actions
    if: needs.check_duplicate_actions.outputs.should_skip != 'true'
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' 
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.11' 
      - name: Install dependencies
        run: |
          julia ./.install_spinedb_api.jl          
          julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
      - uses: julia-actions/julia-docdeploy@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}

